#account-container {
    margin-top:100px;
    width:100%;
    max-width: 100%;
    float:left;
    height:auto;
}

.account-headline {
    width:100%;
    height:90px;
    max-height: 90px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#account-info
{
    width:100%;
    float:left;
    height:auto;
    max-width: 100%;
}

.account-headline h2 {
    color:black;
    font-size:2.5em;
}

#account-logo {
    width:100%;
    height:150px;
    max-height: 150px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#account-logo li {
    transform: scale(5.0);
}

#account-data {
    width:100%;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding:50px;
    text-align: center;
}

#account-data label {
    width:100px;
    max-width: 100px;
    height:35px;
    max-height: 38px;
    color:black;
    font-size: 18px;

}


#account-data input {
    width:260px;
    max-width: 260px;
    height:38px;
    max-height: 40px;
    outline:none;
    border:0.3px solid black;
    font-size:18px;
    margin-left: 15px;
}

#account-data button {
    width:180px;
    height:38px;
    max-height: 38px;
    margin-top:10px;
    font-size:20px;
    outline:none;
    background:rgb(245, 90, 90);
    border:none;
    color:white;
}


#account-data form {
    padding:50px;
}


#already-account-info {
    width:100%;
    height:auto;
    text-align: center;
}

#already-account-info span {
    display:block;
    max-width:400px;
    font-size:20px;
    margin:0 auto;
}